[Unit]
Description=Offspot Runtime
Requires=network.target internet-check.service
After=network.target internet-check.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/offspot-python/bin/offspot-runtime-config-fromfile /boot/firmware/offspot.yaml
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=docker-compose.service multi-user.target
RequiredBy=docker-compose.service
