[Unit]
Description=Docker compose service
BindsTo=balena.service
After=balena.service docker-images-loader.service offspot-runtime.service iptables-restore.service

[Service]
ExecStart=/usr/local/bin/docker-compose -f /etc/docker/compose.yml up --remove-orphans
ExecStop=/usr/local/bin/docker-compose -f /etc/docker/compose.yml down

[Install]
WantedBy=multi-user.target
