[Unit]
Description=Load docker images
BindsTo=balena.service
After=balena.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/docker-images-loader.py
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
