[Unit]
Description=Internet connectivity checker
After=network.target

[Service]
ExecStart=/usr/local/bin/internet-check forever
StandardOutput=journal
